<ion-view title="About" id="page8">
    <ion-content padding="true" class="has-header">
        <ion-list id="about-list5" class="manual-list-fullwidth">
            <ion-item id="about-list-item16">About Mobile App</ion-item>
        </ion-list>
        <div id="about-markdown5" style="color:#000000;">
            <ul>
                <li>
                    <strong>Livesoccer Myanmar Mobile App</strong>ဟာ က်ေနာ္တုုိ႔ စမ္းသပ္ထုုတ္လုုပ္ထားေသာ မုုိဘုုိင္းလ္ေဆာ့၀ဲလ္တစ္ခုုျဖစ္ပါသည္။</li>
                <li>Ionicframework , Angularjs</li>
                <li>Server Nodejs (Express)</li>
                <li>WEB Scraping Site (fotmob.com,soccerway.com) တုုိ႔မွ ေဒတာမ်ားအား ရယူအသုုံးျပဳထားျခင္းျဖစ္ပါသည္။</li>
            </ul>
        </div>
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <div id="about-markdown6" style="color:#000000;">
            <p>ေဒတာရယူသုုံးစြဲလုုိပါက</p>

            <ul>
                <li>https://msportapi.herokuapp.com/livescore</li>
                <li>https://msportapi.herokuapp.com/livescore</li>
            </ul>

            <hr>

            <p>Fotmob Scrape</p>

            <ul>
                <li>
                    <p>https://goldenlivescore.herokuapp.com/livescore</p>
                </li>
                <li>
                    <p>https://goldenlivescore.herokuapp.com/standings/{{id}}</p>
                </li>
                <li>
                    <p>https://goldenlivescore.herokuapp.com/standings/EPL</p>
                </li>
            </ul>
        </div>
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <div class="list card" id="about-card21">
            <ion-item class="item-divider" id="about-list-item-divider1">Sport News</ion-item>
            <h5 id="about-heading1" style="color:#000000;font-weight:600;text-align:center;">စပါးတုိက္စစ္မႉး ကိန္း၏ ေျခက်င္း၀တ္ဒဏ္ရာ ေမွ်ာ္လင့္သည္ထက္ ပုိေကာင္းမြန္</h5>
            <div id="about-markdown1" style="margin-top:0px;color:#332E2E;font-size:11.5px;text-align:center;">
                <p>တုိက္စစ္မႉး ဟယ္ရီကိန္းရဲ႕ ေျခက်င္း၀တ္ဒဏ္ရာဟာ ေမွ်ာ္လင့္ထားတာထက္ ပုိၿပီး ေကာင္းမြန္ေနတယ္လုိ႔ ေတာ့တင္ဟမ္ေဟာ့စပါး နည္းျပ ပုိခ်က္တီႏုိက ေျပာပါတယ္။</p>
            </div>
            <ion-item class="dark  button" id="about-list-item12">Read More</ion-item>
        </div>
    </ion-content>
</ion-view>