<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-balanced tabs-icon-top" id="tabsController-tabs1">
        <ion-tab title="Today" icon="ion-ios-football" id="tabsController-tab5">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Livescore" icon="ion-ios-football" href="#/page1/home" id="tabsController-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Standing" icon="ion-trophy" href="#/page1/standing" id="tabsController-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Watch" icon="ion-ios-film" href="#/page1/watch" id="tabsController-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Topscore" icon="ion-ribbon-a" href="#/page1/topscore" id="tabsController-tab4">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>